@font-face {
    font-family: SunnySpells;
    src: url(./assets/fonts/sunnyspells-font.ttf);
}
@font-face {
    font-family: montserrat-semiBold;
    src: url(./assets/fonts/montserrat-semiBold.ttf);
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: SunnySpells;
    background-color: #bb9f34;
    color: #fff;
    font-size: 25px;
}
.ctc{
    border: 3px dotted #000;
    background-color: #715b1f;
    border-radius: 15px;
    padding: 10px 30px;
    transition: 100ms;
    box-sizing: border-box;
    text-transform: uppercase;
}
.ctc:hover{
    color: #bb9f34;
    background-color: #fff;
}
.ctc:hover a{
    color: #bb9f34;
    background-color: #fff;
    transition: 100ms;
}
a{
    text-decoration: none;
    color: #fff;
}
.heading{
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    max-width: 900px;
}
.main-container .top-section .image-container img{
    max-width: 600px;
    max-height: 600px;
}
.top-section{
    /* max-width: 600px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.top-section .heading{
    padding: 15px;
}
.bottom-section>.heading{
    margin-top: 50px;
}
.buttons-container{
    display: flex;
    width: 100%;
    justify-content: center;
    gap:50px;
    text-transform: uppercase;
}
.bottom-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.tiles-container{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.tiles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #715b1f;
    border: 3px solid #f4edb6;
    border-radius: 10px;
    color: #fff;
    padding: 15px;
    margin: 0 15px 25px 15px;
    text-align: center;
    width: calc(100% - 60px); 
}
.tiles .tiles-heading{
    font-weight: 100px !important;
}
.tiles-desc{
    font-family: montserrat-semiBold;
    font-weight: 700;
    font-size: 24px;
}
.last-section{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 15px;
}
.last-section .button-section{
    display: flex;
    justify-content: center;
    font-size: 64px;
    
}
.last-section .img-section img{
    max-width: 375px;
    max-height: 375px;
}
@media only screen and (max-width: 600px) {
    .last-section{
        flex-direction: column;
    }
    .main-container .top-section .image-container img{
        max-width: 400px;
        max-height: 400px;
    }
    .last-section .img-section img{
        max-width: 200px;
        max-height: 200px;
    }
  }